apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: diogo-silva.net
  # Deploy the certificate in the kube-system namespace, so it can be accessed by Traefik TLS Store
  namespace: kube-system
spec:
  secretName: wildcard-certificate-prod
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-prod # Same as defined in the "cluster_issuer.yaml" file
  commonName: diogo-silva.net
  dnsNames:
    - diogo-silva.net
    - "*.diogo-silva.net"
