# https://github.com/adyanth/cloudflare-operator
# https://github.com/adyanth/cloudflare-operator/blob/main/docs/getting-started.md
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - manifests/cloudflare-credentials.yaml
  - manifests/cluster-tunnel.yaml
  - https://github.com/adyanth/cloudflare-operator.git/config/default?ref=v0.13.1
